*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Noto Serif', serif;
    text-align: center;
    background-color: #7DC11C;
}

.salida{
    text-transform: uppercase;
    width: 30%;
    height: 100px;
    margin: 10px auto;
    border: 1px solid #e20909;
    background-color: #09dfbb;
}